rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    // Biblioteca de produtos por usuário
    match /users/{userId}/produtos/{produtoId} {
      allow read, create, update, delete: if isOwner(userId);
    }

    // (Opcional) doc do usuário (perfil/config)
    match /users/{userId} {
      allow read, create, update: if isOwner(userId);
    }
  }
}
